# Applcation files
voice/*.mp3
text.json
tweet.json
sentence.json
text-seed.json
tmp/dic/
ipa.dic

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
