# Applcation files
voice/
tweet.json
sentence.json
text-seed.json
ipa.dic
cmd/trim/あいうえお郡道.wav
mirei-tts
data
data.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
